.container {
  width: 360px;
  margin: auto;
}

.toDoTitle {
  font-family: "Courier New", Courier, monospace;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  display: inline-block;
  height: 50px;
  width: 280px;
  font-size: 25px;
  border-radius: 6px;
  border: 3px solid #1d6dff;
}

#clear {
  background: red;
}

.form__btn {
  width: auto;
  margin-top: 15px;
  height: 50px;
  font-size: 25px;
  border: none;
  border-radius: 6px;
  padding: 0 30px;
  color: #fff;
}

.add {
  margin-right: 27px;
  background: #1d6dff;
}

/* #addToDoBtn {
} */

#todoContainer {
  padding: 10px 0;
}

.todo__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  font-size: 25px;
  border-radius: 6px;
  background: #68bcf7;
}

.btn {
  width: 70px;
  height: 50px;
  padding: 10px;
  font-size: 25px;
  border: none;
  border-radius: 6px;
  color: #fff;
}

.edit__btn:first-child {
  margin-right: auto;
  background: #04ad04;
}

.delete__btn:last-child {
  margin-left: auto;
  background: red;
}

#deleteSelectedElementsBtn {
  background-color: rgb(72, 255, 0);
  display: none;
}

.todo__text--active {
  color: red;
  text-decoration: line-through;
}
